{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<section class="fade-in">
    <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-6">Контакты</h2>
    <div class="bg-white p-6 md:p-8 rounded-lg glow-3d">
        <p class="text-base md:text-lg text-gray-600 mb-2">📍 ул. Северная, 2, Ивацевичи, Брестская область</p>
        <p class="text-base md:text-lg text-gray-600 mb-2">📞 +375 16 459-13-90 (директор, Елена Васильевна Левданская)</p>
        <p class="text-base md:text-lg text-gray-600 mb-2">📧 sch3@rooivacevichi.gov.by</p>
        <p class="text-base md:text-lg text-gray-600">🕒 Пн-Пт: 8:00–19:30</p>
    </div>
</section>
{% endblock %}